ul {
  padding: 0;
  list-style: none;
}

li span {
  display: block;
}

li span.title {
  width: 125px;
  overflow: hidden;
  font-size: 12px;
}

li span.url {
  width: 125px;
  overflow: hidden;
  font-size: 10px;
  color: #08f;
  text-decoration: underline;
  padding-bottom: 2px;
}

li {
  float: left;
  display: block;
  margin: 5px;
  padding: 5px;
  -moz-border-radius: 10px;
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
  width: 140px;
  cursor: pointer;
  color: #333;
}

li img.preview {
  margin: 5px 0 0 0;
  border: 1px solid #888;
}

li .delete {
  background: transparent url("close.png") top no-repeat;
  width: 14px !important;
  height: 14px !important;
  float: right;
  top: -10px;
  right: -10px;
  position: relative;
}

li .delete:hover {
  background: transparent url("close.png") bottom no-repeat;
}

li:hover {
  border-color: #ddd;
  background: #fff;
  color: black;
}

li:hover img {
  border-color: black;
}

li:hover span.url {
  color: #f80;
}

body {
  background: #eee;
}


