body {
  background: #eee;
  font: Verdana, "Lucida Grande", Lucida, sans-serif;
}

#views {
  float: right;
}

#views a {
  border: 1px solid #ccc;
  text-decoration: none;
  color: #08f;
  background: white;
  padding: 4px;
}

#views a:hover {
  border-color: #888;
  color: #f80;
}

#search {
  border: 1px solid #ccc; 
  padding: 2px 2px 2px 24px;
  background: white url("assets/search.gif") left no-repeat;
}
