body {
  background: #eee;
  font: Verdana, "Lucida Grande", Lucida, sans-serif;
}

#styles {
  float: right;
}

#styles a {
  border: 1px solid #ccc;
  text-decoration: none;
  color: #08f;
  background: white;
  padding: 4px;
}

#styles a:hover {
  border-color: #888;
  color: #f80;
}

#search {
  border: 1px solid #ccc; 
  padding: 2px 2px 2px 24px;
  background: white url("assets/search.gif") left no-repeat;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  float: left;
  display: block;
  height: 150px;
  margin-bottom: 15px;
}

li span {
  width: 125px;
  margin: 0 auto;
  display: block;
}

li span.title {
  width: 125px;
  overflow: hidden;
  font-size: 12px;
  padding-top: 4px;
  font-weight: bold;
  color: #777;
}

li img.preview {
  max-width: 125px;
  max-height: 125px;
}

li span.url {
  width: 125px;
  overflow: hidden;
  font-size: 11px;
  color: #08f;
  text-decoration: underline;
  padding-bottom: 2px;
  padding-top: 5px;
}

li div {
  margin: 5px;
  padding: 5px;
  -moz-border-radius: 10px;
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
  width: 140px;
  cursor: pointer;
  color: #333;
}

li div:hover {
  border-color: #ddd;
  background: #fff;
  color: black;
}

li .delete {
  display: none;
  background: transparent url("close.png") top no-repeat;
  width: 14px !important;
  height: 14px !important;
  float: right;
  top: -10px;
  right: -10px;
  position: relative;
}

li:hover .delete {
  display: inline;
}

li .delete:hover {
  background: transparent url("close.png") bottom no-repeat;
}

li img.preview {
  margin-top: 5px;
  margin-left: 6px;
  border: 1px solid #888;
}

li:hover img {
  border-color: black;
}

li:hover span.url {
  color: #f80;
}

.hidden {
  display: none;
}
