#taboo-toolbarbutton-add {
  display: block;
  width: 24px;
  height: 24px;
  background: url("chrome://taboo/skin/toolbar-add.png") top no-repeat;
}

#taboo-toolbarbutton-add:hover {
  background-position: bottom;
}

#taboo-toolbarbutton-add-saved {
  display: block;
  width: 24px;
  height: 24px;
  background: url("chrome://taboo/skin/toolbar-added.png") top no-repeat;
}

#taboo-toolbarbutton-add-saved:hover {
  background-position: bottom;
}

#taboo-toolbarbutton-view {
  display: block;
  width: 24px;
  height: 24px;
  background: url("chrome://taboo/skin/toolbar-view.png") top no-repeat;
}

#taboo-toolbarbutton-view:hover {
  background-position: bottom;
}

.about #content h1 {
	text-align: center;
  width: 500px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: medium;
}

.about #content p {
  padding: 15px;
  width: 500px;
}

.about #content table {
  padding: 10px;
  background: #fff;
  width: 500px;
  margin: 10px auto;
  border: 1px solid #bbb;
}

.about #content td {
  padding: 10px 0;
}

.about #content th {
  text-align: left;
}


h1, table, p {
    margin: 0 auto;
}

h1 {
  margin-top: 20px;
}
