#taboo-toolbarbutton-add {
	clip: rect(0px 24px 24px 0px);
	position: absolute;
}

#taboo-toolbarbutton-add-hover {
	clip: rect(24px 24px 48px 0px);
}

#taboo-toolbarbutton-add-saved {
	clip: rect(0px 24px 24px 0px);
	position: absolute;
}

#taboo-toolbarbutton-add-saved-hover {
	clip: rect(24px 24px 48px 0px);
}

#taboo-toolbarbutton-view {
	clip: rect( 0px 24px 24px 0px);
	position: absolute;
}

#taboo-toolbarbutton-view-hover {
	clip: rect(24px 24px 48px 0px);
}

.about #about {
  border-color: #555;
  color: #e70;
}

.about h1 {
	text-align: center;
}

.about ul {
  padding-left: 30px;
  list-style: auto;
}

.about li {
	padding: 5px;
}