/* setup the grid */

.grid #content ul {
  padding: 0 5px;
  list-style: none;
}

.grid #content li {
  float: left;
  display: block;
}

.grid #content li div {
  overflow: hidden;
}

/* handle the different sizes */

.grid #content .s100 li div { width: 100px; height: 105px; }
.grid #content .s125 li div { width: 125px; height: 123px; }
.grid #content .s150 li div { width: 150px; height: 142px; }
.grid #content .s175 li div { width: 175px; height: 161px; }
.grid #content .s200 li div { width: 200px; height: 180px; }
.grid #content .s225 li div { width: 225px; height: 198px; }
.grid #content .s250 li div { width: 250px; height: 217px; }
.grid #content .s275 li div { width: 275px; height: 236px; }
.grid #content .s300 li div { width: 300px; height: 255px; }
.grid #content .s325 li div { width: 325px; height: 273px; }
.grid #content .s350 li div { width: 350px; height: 292px; }
.grid #content .s375 li div { width: 375px; height: 311px; }
.grid #content .s400 li div { width: 400px; height: 330px; }
.grid #content .s425 li div { width: 425px; height: 348px; }
.grid #content .s450 li div { width: 450px; height: 367px; }
.grid #content .s475 li div { width: 475px; height: 386px; }
.grid #content .s500 li div { width: 500px; height: 405px; }

.grid #content .large .preview .large { display: inherit; }
.grid #content .large .preview .thumb { display: none; }

.grid #content .small .preview .thumb { display: inherit; }
.grid #content .small .preview .large { display: none; }

/* Handle details */

.grid #content .preview img {
  width: 100%;
  border: none;
}

.grid #content li span.title {
  overflow: hidden;
  font-size: 12px;
  font-weight: bold;
  color: #777;
  display: block;
  white-space: nowrap;
}

.grid #content li span.url {
  display:block;
  overflow: hidden;
  font-size: 11px;
  color: #08f;
  text-decoration: underline;
  white-space: nowrap;
}

.grid #content li {
  margin: 5px;
  padding: 5px;
  -moz-border-radius: 10px;
  border: 1px solid #e8e8e8;
  background: #f8f8f8;
  cursor: pointer;
  color: #333;
  position: relative;
}

/* Handle hover over the grid item */

.grid #content li:hover {
  border-color: #ddd;
  background: #fff;
  color: black;
}

.grid #content li:hover .url {
  color: #f80;
}

/* display the delete buttom */

.grid #content li .delete {
  display: none;
  background: transparent url("close.png") top no-repeat;
  width: 14px !important;
  height: 14px !important;
  position: absolute;
  top: -5px;
  right: -5px;
}

.grid #content li:hover .delete {
  display: inherit;
}

.grid #content li .delete:hover {
  background: transparent url("close.png") bottom no-repeat;
}

