.hoverbox ul {
  padding: 20px 60px;
}

.hoverbox .preview {
  display: none;
}

.hoverbox img {
  vertical-align: middle;
}

.hoverbox li .thumb {
  background: #fff;
  border-color: #aaa #ccc #ddd #bbb;
  border-style: solid;
  border-width: 2px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.hoverbox li .thumb img {
  overflow: hidden;
  min-width: 100px;
  min-height: 100px;
}

.hoverbox li {
  background: #eee;
  color: inherit;
  display: inline;
  float: left;
  margin: 3px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.hoverbox .preview img {
  width: 200px;
  overflow: hidden;
}

.hoverbox li:hover .preview {
  display: block;
  position: absolute;
  top: -15px; /* this is overriden onmouseover based on the height of the preview */
  left: -45px;
  border: 2px solid #888;
  background: white;
  z-index: 10000;
  max-height: 180px;
  overflow: hidden;
}


.hoverbox li:hover span {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-weight: bold;
  background: #fff;
  color: #333;
  padding: 2px;
  font-size: 0.75em;
  opacity: .9;
  border-bottom: 1px solid #bbb;
  white-space: nowrap;
  overflow: hidden;
}

.hoverbox li span:hover {
  white-space: inherit;
  opacity: 0.95;
  color: #000;
}
