/* detail view of a tab */

.mosaic #main {
  position: fixed;
  width: 506px;
  top: 40px;
  left: 5px;
  padding: 10px;
}

.mosaic #main #detail_img {
  border: 3px solid #888;
  max-height: 350px;
  cursor: pointer;
}

.mosaic #main #detail_url {
  font-size: 12px;
  margin-bottom: 5px;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.mosaic #main #detail_title {
  font-size: 18px;
}

.mosaic #main #detail_description {
  border: 1px solid #888;
  background: #ffffff;
  padding: 5px;
  min-height: 20px;
  margin-top: 10px;
}

/* styling for inplace editing */

.mosaic input[type=text].inplace_field {
  width: 100%;
  display: block;
}

.mosaic textarea.inplace_field {
  width: 100%;
  display: block;
}

/* list of all the tabs */

.mosaic #list {
  position: absolute;
  left: 550px;
  top: 40px;
  padding-bottom: 40px;
}
