body {
  background: #eee;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  overflow: -moz-scrollbars-vertical;
}

/* header: search/view selection */

#header {
  position: fixed;
  z-index: 1000;
  background: #ccc;
  padding: 7px 0;
  width: 100%;
  border-bottom: 1px solid #888;
}

#postheader {
  clear: both;
  height: 40px;
}

#search {
  margin-left: 10px;
  border: 1px solid #aaa;
  padding: 2px 2px 2px 24px;
  background: white url("search.gif") left no-repeat;
}

#views {
  float: right;
  margin-right: 10px;
}

#views a {
  border: 1px solid #aaa;
  text-decoration: none;
  color: #08f;
  background: white;
  padding: 4px;
}

#views a:hover {
  border-color: #888;
  color: #f80;
}

.grid #grid,
.trash #trash,
.mosaic #mosaic,
.about #about,
.calendar #calendar {
  border-color: #555;
  color: #e70;
}

/* ???? */

.humanMsg {
  -moz-border-radius: 15px;
}
/*
.infoWrap {
  text-align: center;
  visibility: hidden;
  padding: 3px 10px;
  margin: 0px auto 0px auto;
  background: #ee2;
  -moz-border-radius: 5px;
}

#undelete {
  padding-top: 10px;
  width: 250px;
}

#undelete a {
  color: #000;
}

#undelete div {
  width: 250px;
}
*/
/* FOOTER */

#prefooter {
  clear: both;
  height: 40px;
}

#footer {
  position: fixed;
  z-index: 1000;
  background: #ccc;
  padding: 7px 10px;
  width: 100%;
  border-top: 1px solid #888;
  bottom: 0;
  height: 20px;
}

#footer-controls {
  float: right;
  margin-right: 20px;
}

#footer .button {
  border: 1px solid #888;
  margin: 3px;
  padding: 3px;
  background: white;
  color: #08f;
  text-decoration: none;
  font-size: 0.9em;
}

#footer .button:hover {
  color: #f80;
}
